/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0e4f6b;
  --ifm-color-primary-dark: #0d4760;
  --ifm-color-primary-darker: 	#0c435b;
  --ifm-color-primary-darkest: #0a374b;
  --ifm-color-primary-light: 	#0f5776;
  --ifm-color-primary-lighter: #105b7b;
  --ifm-color-primary-lightest: 	#12678b;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3fbfde;
  --ifm-color-primary-dark: #27b7da;
  --ifm-color-primary-darker: #24adcf;
  --ifm-color-primary-darkest: #1d8faa;
  --ifm-color-primary-light: #57c7e2;
  --ifm-color-primary-lighter: #63cbe4;
  --ifm-color-primary-lightest: #88d7eb;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
